@import url('https://fonts.googleapis.com/css2?family=Allura&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e74c3c;
  color: white;
  line-height: 1.5;
  font-size: 16px;
}
.home-main {
  background-image: url('./assets/images/bg-snow.png');
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
.allura-font {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: normal;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
/* HEADER*/
.header {
  background-color: #ffffff;
  padding: 12px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #181c29;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.8px;
  color: #181c29;
  display: flex;
  align-items: center;
}

.header .logo img {
  display: flex;
  height: 24px;
  weight: 24px;
  margin-right: 8px;
}

.header nav ul {
  display: flex;
  list-style: none;
}
.header nav ul li {
  padding: 12px 20px;
}
.header nav ul li:not(:last-child) {
  margin-right: 8px;
}

.header nav ul li a {
  font-weight: 600;
  font-size: 12px;
  line-height: 15.6px;
  letter-spacing: 0.8px;
  color: #181c29;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-header nav ul li a:hover {
  color: #e74c3c;
}
.main-header nav ul li:hover {
  background-color: #f7eaea;
  border-radius: 12px;
}

.gift-header nav ul li:hover .gift-header nav ul li a{
  cursor:none;
}
/* HERO SECTION */
.hero {
  background-image: url('./assets/images/bg-ball.png'),
    url('./assets/images/bg-snow.png');
  background-size: cover;
  background-position: center;
  color: white;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  display: flex;
  flex-direction: column;
}
.hero-content {
  margin: auto;
}

.hero-subheader {
  margin-bottom: 12px;
}

.btn {
  display: inline-block;
  background-color: #181c29;
  color: white;
  font-weight: 600;
  line-height: 130%;
  padding: 20px 32px;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin-bottom: 12px;
  outline: none;
  border: none;
}

.btn:hover {
  background-color: #fff;
  color: #181c29;
}

/* ABOUT SECTION */
.about-section {
  color: #181c29;
  padding: 60px 0;
}
.about-section-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left {
  width: 638px;
  border-radius: 20px 0 0 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 82px 152px 83px 60px;
}
.about-left-inner {
  padding: 60px 0;
  max-width: 426px;
}
.about-subheader {
  color: #ff4646;
  margin-bottom: 20px;
}

.about-left h2 {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}

.about-text {
  line-height: 148%;
}
.about-right {
  width: 638px;
  border-radius: 0 20px 20px 0;
  background-color: white;
}
.about-right img {
  display: flex;
  border-radius: 20px;
  background-color: white;
}

/* SLIDER SECTION */
.slider-section {
  padding: 60px 0px;
  text-align: center;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  overflow: hidden;
  justify-content: center;
  gap: 20px;
}

.slide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.slide .slide-text {
  font-size: 80px;
  color: white;
  font-weight: 600;
  margin-right: 20px;
}

.slide img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider-controls {
  display: flex;
  justify-content: right;
  gap: 10px;
  margin-top: 20px;
}

.control-btn {
  background-color: transparent;
  border: 2px solid #ffffff66;
  color: #ffffff66;
  font-size: 18px;
  padding: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.control-btn:hover {
  background-color: #e74c3c;
  color: white;
  border: 2px solid white;
}

/* BEST GIFTS SECTION */
.best-gifts-section {
  padding: 60px 30px;
  text-align: center;
}
.gift-main .best-gifts-section {
  padding: 0 0 60px 0;
}

.best-gifts-section .gift-title {
  font-size: 36px;
  text-align: center;
}

.best-gifts-section .gift-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 40px;
}

.gift-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap: 12px;
}

.gift-card {
  width:310px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
.gift-card:hover .gift-image img {
  transform: scale(1.2);
}

.gift-image {
  background-color: #ecf3f8;
  height: 230px;
  border-radius: 20px 20px 0 0;
}
.gift-image img {
  border-radius: 20px;
  display: flex;
}

.gift-card .gift-info {
  border-radius: 20px;
  text-align: left;
  padding: 20px;
}

.text-title {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.8px;
}

.gift-card:hover .card-text {
  color: #ff4646;
}
.one {
  color: #4361ff;
}
.two {
  color: #06a44f;
}
.three {
  color: #4361ff;
}
.four {
  color: #ff43f7;
}

.card-text {
  font-size: 16px;
  font-weight: 600;
  color: #181c29;
  line-height: 152%;
  letter-spacing: 8%;
}

/* CTA SECTION */
.cta-section {
  background-image: url('./assets/images/bg-forest.png');
  height: 668px;
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  padding: 60px 0px;
  text-align: center;
}
.content {
  padding: 60px 0;
}
.cta-title {
  display: flex;
  flex-direction: column;
}
.cta-button {
  background-color: white;
  color: #e74c3c;
  padding: 15px 40px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #c0392b;
}

.countdown {
  max-width: 344px;
  display: inline-flex;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff66;
  padding: 8px 12px;
  border-radius: 20px;
}

.time {
  width: 80px;
  display: flex;
  flex-direction: column;
}
.time .section-title {
  margin: 0;
}
.countdown .number {
  font-size: 40px;
  font-weight: bold;
}
.separator {
  width: 1px;
  height: 20px;
  background-color: #ffffff66;
  display: flex;
  align-self: center;
}

/* FOOTER SECTION */
footer {
  background-color: #fff;
  color: #181c29;
  padding: 60px 0;
  text-align: center;
}

/* Gifts Section Styling */
.footer-gifts-section {
  color: #181c29;
  margin-bottom: 60px;
}

.footer-gift-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-gift-cards .section-title {
  margin-bottom: 12px;
}

/* Individual Gift Card Styling */
.card {
  background-color: #ecf3f8;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: calc(33% - 12px);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
  transition: all 0.7s ease;
}

/* Social Icons Styling */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
  transition: all 0.7s ease;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.social-icon img:hover {
  transform: translateY(-7px);
}

/* GIFTS PAGE */

.gift-main {
  /* TODO:not working */
  border-radius: 20px;
}

.gift-hero {
  background-image: url('./assets/images/bg-garland.png');
  background-size: cover;
  background-position: center;
}

.gift-hero-content {
  text-align: center;
  padding: 60px 24px 20px;
}

.cards-tab {
  margin-bottom: 20px;
}


.cards-tab ul {
  display: flex;
  justify-content: center;
}

.cards-tab ul li {
  color: white;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.8px;
  padding: 12px 20px;
}
.cards-tab ul li:not(:last-child) {
  margin-right: 8px;
}

.active {
  background-color: #ffffff33;
  border-radius: 12px;
}
